/*root font */
html {font-size: 16px;
      font-family: "Arial", Gadget, sans-serif
}
.kitten-header {
 background-color: #000;
 color: white;
 height: 30rem;
}

.kitten-header h1{
 color: white;
}

.kitten-header h2 {
 color: #808080;
 margin-top: 17rem;
}

.kh-cta {
  font-size: 4rem;
  color: red;
  margin-left: 200rem;
}

}

.kitten-nav {
  background-color: #808080;
  color: #000;
  font-size: 1.5rem;

}
.kitten-nav p {
  color: #000;
  font-size: 5rem;
  padding-top: 0;
}

.kitten-aside {
  border: 3px solid black;
  text-align: center;
}

.kitten-footer {
  background: #000;
  color: #fff;
}
.kf-text {
  font-size: 4rem;
}
.kf-copyright {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 20rem;
}
.link {
    font-size: 4rem;
    color: red;
}

/*
* { box-sizing: border-box;}

.aside-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: flex-center;
}
*/
