/*root font */
html {font-size: 16px;}


* { box-sizing: border-box;}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;


  border: 0px solid #ccc;
  background: #ddd;
  margin: 0 auto;
  height: 20rem;
  width: 20rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
