/*root font */
html {font-size: 16px;}

* { box-sizing: border-box;}
.container {
  border: 1px solid #ccc;
  background: #ddd;
  margin: 0 auto;
  height: 20rem;
  width: 20rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}

.item {
  display: inline-block;


  color: white;
  text-shadow: 0 0 0.1rem #333;
  letter-spacing: -1px;
  text-align: center;
}

.blue {
  background: blue;
  height: 5rem;
  width: 3rem;
/* TRBL
  padding: 4rem 2rem 0 10rem;
  margin-left: 10rem;
  border-bottom: 20px inset purple;*/
}

.red {
  background: red;
  height: 2rem;
  width: 8rem;
}

.orange {
  background: orange;
  height: 8rem;
  width: 4rem;
}
