
.kitten-header {
  width: 100%;
  height: 15rem;
  padding: .5rem 0 0 0;
  position: absolute;
  
}

.kitten-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.kitten-aside{
  display: flex;
  float: right;
  justify-content: flex-end;
  flex-direction: column;
  align-items: stretch;
  margin-top: 30rem;
  margin-bottom: 10rem;
  margin-right: 0rem;
}
