* {box-sizing: border-box;}

.k2g {
  display: flex;
  flex-direction: column;
}

.k2g-body {
  display: flex;
  flex: 1;
}

.k2g-header {
  flex:1;
  flex-direction: row;
  padding-left: 5rem;
}

.k2g-header h4{
  float: right;
  display: flex;
  padding-right: 10rem;


}



.kitten-nav {
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
}


.k2g-content {
    display: inline-block;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.k2g-article {
  padding: 5rem 100rem 5rem 20rem;
  align-content: center;
  text-align: justify;
  flex: 1;

}

.kitten-body aside {
  position: relative;
  float: right;
  margin-right: 5rem;
  margin-bottom: 100rem;
}


.kitten-footer {
  display: block;
  justify-content: flex-end;
  flex-direction: column;
  height: 50rem;
  margin-bottom: 0rem;
  margin-right: 5rem;
  width: 100%;
}


.kitten-footer p {
  padding-top: 3rem;
  padding-right: 0;
  padding-left: 2rem;
  margin: 0;

}




/*
.kitten-header {
  width: 100%;
  height: 15rem;
  padding: .5rem 0 0 0;
  position: absolute;

}


.kitten-aside{
  display: flex;
  float: right;
  justify-content: flex-end;
  flex-direction: column;
  align-items: stretch;
  margin-top: 30rem;
  margin-bottom: 10rem;
  margin-right: 0rem;
}

.kitten-footer {
display: block;
margin: 0;
padding: 5px;
min-height: 100px;
border: 1px solid #000;
background: #000;
  }

/*
background-color: #000;
margin: 0;
padding: .5rem 0 .5rem 0;
width: 100%;
height: 15rem;
position: absolute;
}
*/
